In [4]:
# always get fresh copies!
! cp ~cs186/sp16/hw2/part2/part2.db .
! chmod 700 part2.db
! cp ~cs186/sp16/hw2/part2/part2sampled.db .
! chmod 700 part2sampled.db
! cp ~cs186/sp16/hw2/part2/part2test.db .
! chmod 700 part2test.db

In [5]:
import subprocess, sqlite3, csv, os, sys

# jupyter weirdness; this makes sure that stdout is not buffered
def printNow(s):
    print s
    sys.stdout.flush()

    
def checkFile(f):
    if not (os.path.isfile(f)):
        raise IOError("DB File " + f + " is not here!")


currentDB1 = currentDB2 = "part2sampled.db"

# for grading dataset
# note that the two DB are different! currentDB1 is smaller in size
if ('CS186GRADER' in os.environ):
    currentDB1 = "part2sampled.db" 
    currentDB2 = "part2.db" 
    
checkFile(currentDB1)
dbQ1 = sqlite3.connect(currentDB1) 
dbQ1.text_factory = str

checkFile(currentDB2)
dbQ2 = sqlite3.connect(currentDB2)
dbQ2.text_factory = str

In [6]:
# Q1
# Degrees of separation
# Expected output: a paths table (as defined), note that we will be checking the original
#                  paths, and not just the average value

def initDegrees():
    dbQ1.executescript("""
        -- create paths table
        DROP TABLE IF EXISTS paths;
        DROP TABLE IF EXISTS pathsLastUpdated;
        DROP INDEX IF EXISTS paths_src_idx;
        DROP INDEX IF EXISTS paths_dst_idx;

        CREATE TABLE paths (
            src varchar(200),
            dst varchar(200),
            length integer,
            PRIMARY KEY (src, dst)
        );
        
        CREATE TABLE pathsLastUpdated (
            src varchar(200),
            dst varchar(200),
            length integer
        );

        CREATE INDEX paths_src_idx ON paths(src);
        CREATE INDEX paths_dst_idx ON paths(dst);
    """);
    dbQ1.commit()
    return


def populatePaths():
    dbQ1.executescript("""
      -- initialize paths with the first level connections
      INSERT INTO paths SELECT
        src,
        dst,
        1
      FROM links;      
      
      -- initialized for your convenience the "last udpated"
      INSERT INTO pathsLastUpdated SELECT
        src,
        dst,
        1
      FROM links;
    """);
    
    dbQ1.commit()
    return;


# Please implement the algorithm such that you don't repeat paths that were previously explored
# For example, for graph a->b->c->d, we want to see (a,b), (b,c), (c,d) then (a,c), (b,d), then (a,d)
# This makes a rather significant performance difference. To this end we have set up the 
#   pathsLastUpdated for you to store intermediate results
def getNewPaths():
    dbQ1.executescript("""
        -- this is an intermediate table for you to store temp data
        DROP TABLE IF EXISTS pathsNew;  
        CREATE TABLE pathsNew (
            src varchar(200),
            dst varchar(200),
            length integer
        );    
        
            INSERT INTO pathsNew        
            -- TODO (hint: use pathsLastUpdated)
           
           SELECT * 
           FROM(
           
            SELECT pathsLastUpdated.src, links.dst, pathsLastUpdated.length+1
            FROM pathsLastUpdated
            INNER JOIN links
            ON pathsLastupdated.dst = links.src
            
            )
            WHERE src <> dst
            
        ;
     """);
    dbQ1.commit()
    return

def updatePathsWithNewpaths():
    dbQ1.executescript("""
        DROP TABLE IF EXISTS pathsLastUpdated;
        
        -- add it to path
        INSERT INTO paths
            -- TODO (hint: use pathsNew)
            

        SELECT DISTINCT * 
        FROM pathsNew p
        WHERE NOT EXISTS (SELECT 1 
                          FROM paths X 
                          WHERE p.src = X.src AND 
                          p.dst = x.dst)





        ;
        
        ALTER TABLE pathsNew RENAME TO pathsLastUpdated;        
    """);
    dbQ1.commit()
    return


def getPathsCount():
    r = dbQ1.execute("SELECT COUNT(*) FROM paths;").fetchone()
    return r[0]


def getAveragePathsLength():
    r = dbQ1.execute("SELECT avg(length) FROM paths;").fetchone()
    return r[0]


def findDegreeDistribution():
    printNow("initializing degrees.  Calling sqlite...")
    initDegrees()
    printNow("Done, now populating paths.  Calling sqlite...")
    populatePaths()
    printNow("Done, now getting pathcount.  Calling sqlite...")
    oldCount = getPathsCount()
    
    i = 0
    while True:
        i += 1
        printNow("Beginning iteration #" + str(i) + ".  Calling sqlite ...")
        getNewPaths()
        printNow("Updating paths")
        updatePathsWithNewpaths()
        currentCount = getPathsCount()
        printNow("Done, current path total is: " + str(currentCount))
        if (currentCount == oldCount):
            break
        else:
            oldCount = currentCount

            
    print 'Converged! The average length of the shortest paths is: ', getAveragePathsLength()

findDegreeDistribution()

initializing degrees.  Calling sqlite...
Done, now populating paths.  Calling sqlite...
Done, now getting pathcount.  Calling sqlite...
Beginning iteration #1.  Calling sqlite ...
Updating paths
Done, current path total is: 3817
Beginning iteration #2.  Calling sqlite ...
Updating paths
Done, current path total is: 5542
Beginning iteration #3.  Calling sqlite ...
Updating paths
Done, current path total is: 7117
Beginning iteration #4.  Calling sqlite ...
Updating paths
Done, current path total is: 8549
Beginning iteration #5.  Calling sqlite ...
Updating paths
Done, current path total is: 9850
Beginning iteration #6.  Calling sqlite ...
Updating paths
Done, current path total is: 11025
Beginning iteration #7.  Calling sqlite ...
Updating paths
Done, current path total is: 12107
Beginning iteration #8.  Calling sqlite ...
Updating paths
Done, current path total is: 13099
Beginning iteration #9.  Calling sqlite ...
Updating paths
Done, current path total is: 13951
Beginning iteration #10.  Calling sqlite ...
Updating paths
Done, current path total is: 14702
Beginning iteration #11.  Calling sqlite ...
Updating paths
Done, current path total is: 15364
Beginning iteration #12.  Calling sqlite ...
Updating paths
Done, current path total is: 15946
Beginning iteration #13.  Calling sqlite ...
Updating paths
Done, current path total is: 16468
Beginning iteration #14.  Calling sqlite ...
Updating paths
Done, current path total is: 16924
Beginning iteration #15.  Calling sqlite ...
Updating paths
Done, current path total is: 17285
Beginning iteration #16.  Calling sqlite ...
Updating paths
Done, current path total is: 17578
Beginning iteration #17.  Calling sqlite ...
Updating paths
Done, current path total is: 17811
Beginning iteration #18.  Calling sqlite ...
Updating paths
Done, current path total is: 17958
Beginning iteration #19.  Calling sqlite ...
Updating paths
Done, current path total is: 18050
Beginning iteration #20.  Calling sqlite ...
Updating paths
Done, current path total is: 18111
Beginning iteration #21.  Calling sqlite ...
Updating paths
Done, current path total is: 18142
Beginning iteration #22.  Calling sqlite ...
Updating paths
Done, current path total is: 18153
Beginning iteration #23.  Calling sqlite ...
Updating paths
Done, current path total is: 18158
Beginning iteration #24.  Calling sqlite ...
Updating paths
Done, current path total is: 18159
Beginning iteration #25.  Calling sqlite ...
Updating paths
Done, current path total is: 18159
Converged! The average length of the shortest paths is:  6.95357673881

In [7]:
# Q2
# Expected output: nodes table populated with pagerank results 
# Note:
# - keeping track of the old PR value helps find convergence, though it's not required in the
#   assignment, it will help you see how close the values end up becoming.
def initPageRank():
    dbQ2.executescript("""
        DROP TABLE IF EXISTS nodes;
        CREATE TABLE nodes (
            node varchar(200) PRIMARY KEY,
            prevpr real,
            currentpr real,
            outdegree integer
        );
    """);
    dbQ2.commit()
    return


def populatePageRank():
    dbQ2.executescript("""
        INSERT INTO nodes
        SELECT
            DISTINCT links.src,
            1,
            1,
            COUNT(links.dst)
        FROM
            links
        GROUP BY
            links.src;
               
        -- corner case #1 nodes with no outgoing edges
        INSERT INTO
            nodes
        SELECT
            DISTINCT links.dst,
            1,
            1,
            0
        FROM
            links
        WHERE
            links.dst NOT IN (
                SELECT node FROM nodes
            );    
            
        -- corner cases #2 nodes with no incoming edges
        UPDATE
            nodes
        SET
            currentpr = 0.15
        WHERE
            nodes.node not in (
                SELECT DISTINCT dst
                FROM links
            );
    """);
    dbQ2.commit()

    return


        
def updatePageRank():

    dbQ2.executescript(""" 
        -- TODO (hint: you might want a helper table to store intermediate results)

        
        
        DROP TABLE IF EXISTS temp;
        CREATE TABLE temp (
            node varchar(200) PRIMARY KEY,
            prevpr real,
            currentpr real,
            outdegree integer
        );
        INSERT INTO temp
        
        
        SELECT dst, nodes.currentpr AS prevpr, num, nodes.outdegree 
        FROM nodes,
        
            (SELECT dst, src, (0.85*SUM(num)+0.15) AS num 
            FROM
            
                (SELECT dst, src, nodes.currentpr/nodes.outdegree AS num 
                FROM nodes,
                
                   (SELECT dst, src, nodes.node AS tgt
                   FROM nodes,
                
                    (SELECT links.src AS src, nodes.node AS dst  
                    FROM links, nodes 
                    WHERE links.dst = nodes.node)
                    
                   WHERE nodes.node = src) 
                    
                WHERE nodes.node = tgt) 
                
            GROUP BY dst) 
            
        WHERE dst = nodes.node;
        
        DROP TABLE IF EXISTS nodes;
        ALTER TABLE temp RENAME TO nodes; 
    """);
    dbQ2.commit()

            
    return



def topPageRank():
    
    dbQ2.executescript("""
    
        DROP VIEW IF EXISTS topPR;
        CREATE VIEW topPR AS
        SELECT *
        FROM nodes
        ORDER BY currentpr DESC
        LIMIT 100;
        
    """);
    dbQ2.commit()

    return

def printTopPageRank():
    # we need to create an cursor object to fetch results to this program
    #    which we didn't need to before since it was just updating the DB
    r = dbQ1.execute("SELECT * FROM topPR;").fetchall()
    for i in r:
        print i
    

def runPageRank(N=10):
    printNow('Initializing page rank')
    initPageRank()
    printNow('Populating PageRank')
    populatePageRank()
    for i in xrange(N):
        printNow('Updating PageRank for iteration {}'.format(i))
        updatePageRank()
        
    printNow('Running top pagerank!')        
    topPageRank()
    printNow('Done! Here are your results')        
    printTopPageRank()
    
    return


runPageRank()

Initializing page rank
Populating PageRank
Updating PageRank for iteration 0
Updating PageRank for iteration 1
Updating PageRank for iteration 2
Updating PageRank for iteration 3
Updating PageRank for iteration 4
Updating PageRank for iteration 5
Updating PageRank for iteration 6
Updating PageRank for iteration 7
Updating PageRank for iteration 8
Updating PageRank for iteration 9
Running top pagerank!
Done! Here are your results
('Latin', 3.54392768882394, 3.75857177114488, 1)
('English_language', 3.644415864015341, 3.162338535500349, 2)
('Spain', 3.7562500319333454, 3.0432170457431003, 1)
('People%27s_Republic_of_China', 3.00045251391133, 2.7003846368246305, 1)
('Fascism', 3.403784759697765, 2.5702261027992397, 1)
('Republic_of_Ireland', 1.5933498262660337, 1.8091684836516846, 1)
('Channel_Islands', 1.4836733173344336, 1.6988767422065199, 0)
('Edward_VIII_of_the_United_Kingdom', 1.9270577345184483, 1.559595850528886, 1)
('Italy', 1.6918746197587715, 1.5043473523261286, 2)
('Franz_Schubert', 1.1103586626408197, 1.2559367256429388, 1)
('George_V_of_the_United_Kingdom', 1.6583480594457485, 1.2090271683135392, 1)
('World_War_II', 1.7370068136393304, 1.1947420707127523, 2)
('Peru', 1.1751731013813185, 1.1048989303509322, 2)
('Austria', 1.3011020301681635, 1.0938048632446966, 1)
('Ecuador', 1.1234105062952144, 1.0743894397879645, 1)
('Red_Kite', 1.0, 1.0, 1)
('White-tailed_Eagle', 1.0, 1.0, 1)
('Madrid', 1.0875169879858406, 0.9723194896933501, 1)
('Peter_I_of_Russia', 0.8912474309215163, 0.9004702417390494, 0)
('Russian_language', 0.8829061667518229, 0.8913983706974566, 1)
('Estonia', 1.2459143156629875, 0.8882278957967155, 0)
('Royal_Air_Force', 1.2459143156629875, 0.8882278957967155, 1)
('Augustus', 1.1778207917741872, 0.8690467133974779, 0)
('San_Marino', 1.1778207917741872, 0.8690467133974779, 2)
('Brussels', 0.9674346937568825, 0.8498998632711148, 1)
('Constitutional_monarchy', 0.8797776074830638, 0.7710388229814544, 0)
('Vladimir_Lenin', 0.8722333772911255, 0.7582114935503241, 1)
('South_Korea', 1.229108318485591, 0.7219009653786009, 1)
('Switzerland', 0.7215023984732867, 0.7056014409600698, 1)
('Germany', 0.7277878831321044, 0.6772664367240808, 3)
('Ganesha', 0.633243634250065, 0.6510931828616082, 0)
('Communism', 0.7155429335886166, 0.6505738365040296, 1)
('S%C3%A3o_Tom%C3%A9_and_Pr%C3%ADncipe', 0.7155429335886166, 0.6505738365040296, 0)
('Baroque', 0.6536487540706704, 0.6494485680870603, 1)
('Textile', 0.6536487540706704, 0.6494485680870603, 0)
('Indian_Ocean', 0.6728246651512952, 0.6355617389055007, 1)
('Mekong', 0.9544083063013522, 0.607514315194327, 0)
('Hinduism', 0.589521391601892, 0.5849373062067036, 1)
('France', 0.5712491045947068, 0.5649236135670365, 1)
('Sweden', 0.572270943779893, 0.5539588708865257, 2)
('12th_century', 0.56027128591274, 0.5537911206141548, 0)
('Dog', 0.6203134549695069, 0.5278236718749999, 1)
('Buddhism', 0.5116909484784748, 0.49011629827528436, 1)
('Great_Britain', 0.4881454277259253, 0.48052728333362227, 1)
('Paul_of_Tarsus', 0.4881454277259253, 0.48052728333362227, 0)
('Natural_selection', 0.4971754199538313, 0.4794033608353462, 0)
('Mongolia', 0.4750483771931233, 0.46395006518371984, 1)
('Anno_Domini', 0.46998520349846185, 0.4506837913081949, 0)
('Coin', 0.46998520349846185, 0.4506837913081949, 0)
('Isaac_Asimov', 0.4476663681982356, 0.44555787118901213, 0)
('List_of_countries', 0.4728564444243958, 0.44282939145625067, 4)
('Afghanistan', 0.44449843749999995, 0.40266262657759644, 1)
('Morocco', 0.44449843749999995, 0.40266262657759644, 1)
('Tennis', 0.40946415251355694, 0.3932151511064545, 0)
('Ho_Chi_Minh_City', 0.4001368215003346, 0.3787441864525414, 1)
('Triathlon', 0.5183238849004383, 0.3736665301535387, 0)
('Christianity', 0.38885562745132035, 0.3715571803122443, 1)
('Iceland', 0.38885562745132035, 0.3715571803122443, 1)
('Russia', 0.36935301786319985, 0.3705834828903294, 1)
('Currency', 0.35374563683317056, 0.3562065668874296, 1)
('Ukraine', 0.35374563683317056, 0.3562065668874296, 1)
('Plutonium', 0.34771514257530844, 0.3451757611112074, 1)
('Iron_Age', 0.34430825580993785, 0.3413311952521524, 0)
('Mecca', 0.34430825580993785, 0.3413311952521524, 0)
('Democratic_Republic_of_the_Congo', 0.305727616125251, 0.289683139839406, 3)
('Ottoman_Empire', 0.305727616125251, 0.289683139839406, 2)
('Bulgaria', 0.3286662113868377, 0.2799342368532317, 2)
('Tunis', 0.3286662113868377, 0.2799342368532317, 0)
('Europe', 0.2631370942982808, 0.26036251629593, 3)
('Portugal', 0.2631370942982808, 0.26036251629593, 1)
('Azerbaijan', 0.25967650893159994, 0.26029174144516465, 2)
('Eastern_Orthodox_Church', 0.25950997987097574, 0.2510897388029718, 1)
('NATO', 0.25950997987097574, 0.2510897388029718, 2)
('World_War_I', 0.25950997987097574, 0.2510897388029718, 1)
('Country', 0.26065550624969913, 0.2504819944401841, 1)
('Kyrgyzstan', 0.26065550624969913, 0.2504819944401841, 0)
('Poland', 0.26065550624969913, 0.2504819944401841, 1)
('United_Kingdom', 0.26065550624969913, 0.2504819944401841, 3)
('Vietnam', 0.2691108075912252, 0.2366228245688211, 1)
('British_Isles', 0.22509552382606166, 0.22455551005117957, 1)
('Islam', 0.22509552382606166, 0.22455551005117957, 1)
('British_monarchy', 0.22961854248377345, 0.22385239343741475, 1)
('Irish_Sea', 0.22961854248377345, 0.22385239343741475, 1)
('Scots_language', 0.22961854248377345, 0.22385239343741475, 0)

In [9]:
# you should have ran the two previous cells before running the test!
# make sure also that you have set the db to part2test.db!
! ./test.sh

Error: no such table: paths
ERROR q1! See your_output/q1.csv
Error: no such table: topPR
ERROR q2! See your_output/q2.csv